<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>INF252-Project</title>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://unpkg.com/topojson@3"></script>


  </head>
  <body>
    <div id="mapcontainer">
      <h2>Measurement Locations</h2>

      <label style="min-width: 150px; display: inline-block" for="winglength-slider" id="winglength-label">Wing Length: </label>
      <input type="range" min="20" max="800" value="390" id="winglength-slider" name="winglength-slider">
      <br> 
      <label style="min-width: 150px; display: inline-block" for="kipps-slider" id="kipps-label">Kipps Distance: </label>
      <input type="range" min="0" max="420" value="210" id="kipps-slider" name="kipps-slider">

      <div id="map" style="width: 1920px; height: 1080px;"></div>
    </div>
  </body>

  <script src={{ url_for('static', filename='./js/geomap.js') }}></script>

</html>
